body {
    
	background-color: #FFFFFF;
	color: #302D23;
    font-family: 'Open Sans', sans-serif;
}

h2{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
	color: #8A0917;
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
}

.panel{
    color: #B8AE9C;
    
}

li{
	color: #302D23;
}

.link{
    font-size: 0.9rem;
    color: #67bfdb;
    text-decoration: underline;
}

div#hello-button-row{
	padding-top: 100px;
}

#hello-button{
    margin-left: auto;
    margin-right: auto;
    width: 10%;
	display: block;
    padding-top: 0.8rem;
    padding-right: 1.5rem;
    padding-bottom: 0.8rem;
    padding-left: 1.5rem;
    background: #1495bf;
    color: #FFFFFF;
    position: relative;
    text-align: center;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
}

#submitBut{
	display: block;
    padding-top: 0.3rem;
    padding-right: 0.8rem;
    padding-bottom: 0.3rem;
    padding-left: 0.8rem;
    background: #1495bf;
    color: #FFFFFF;
    position: relative;
    text-align: center;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

#hello-button:hover {
    background-color: #1686aa;
}